div{

  width: 75%;

  margin: 20px auto;
  padding: 20px;
  border: 2px solid black;
  font-family: "Montserrat" ;
  
}

div h2{

  text-align: center;
}

input[type=text]{

width:100%;
padding: 12px;
margin: 8px;
margin: 8px 0;
display:inline-block; 
border: 1px solid black;
border-radiu:2px;
box-sizing:border-box;
}


input[type=button]{
width:100%;
font-size:1.2em;
//backgorund-color:purple;
//color: rgb(19, 18, 18);
margin:8px 0;
//border:none;
cursor:pointer;
boder-radius:4px;
}
